<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sucesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabela.css') }}">
</head>
<body>
    <div class="container">
      <h2>Usuários Cadastrados</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Id</div>
          <div class="col col-2">Nome</div>
          <div class="col col-3">Salário</div>
          <div class="col col-4">Endereço</div>
          <div class="col col-5">Cargo</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Id">42235</div>
          <div class="col col-2" data-label="Nome">John Doe</div>
          <div class="col col-3" data-label="Salário">$350</div>
          <div class="col col-4" data-label="Endereço">Pending</div>
          <div class="col col-5" data-label="Cargo">Pending</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Id">42235</div>
          <div class="col col-2" data-label="Nome">John Doe</div>
          <div class="col col-3" data-label="Salário">$350</div>
          <div class="col col-4" data-label="Endereço">Pending</div>
          <div class="col col-5" data-label="Cargo">Pending</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Id">42235</div>
          <div class="col col-2" data-label="Nome">John Doe</div>
          <div class="col col-3" data-label="Salário">$350</div>
          <div class="col col-4" data-label="Endereço">Pending</div>
          <div class="col col-5" data-label="Cargo">Pending</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Id">42235</div>
          <div class="col col-2" data-label="Nome">John Doe</div>
          <div class="col col-3" data-label="Salário">$350</div>
          <div class="col col-4" data-label="Endereço">Pending</div>
          <div class="col col-5" data-label="Cargo">Pending</div>
        </li>
      </ul>
    </div>
</body>
</html>